version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]

  api:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile.backend
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  telemetry:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile.telemetry

  web:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile.frontend
    depends_on:
      - api
      - telemetry
    ports:
      - "8080:80"