:root {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #171a20;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  color: #171a20;
  font-weight: 500;
}

code {
  font-family: ui-monospace, monospace;
  font-size: 0.9em;
}
